body {
    background-color: aliceblue;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 50 10;
}

.bubbles {
    overflow: hidden;
    text-overflow: ellipsis;
}