body {
    background-color: aliceblue;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 50 10;
}

.bubbleText {
    overflow: hidden;
    text-overflow: ellipsis;
}

.tooltip { 
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    color: black;
    background-color: lightgray;
    font-size: 12px;
}